.label {
    display:flex;
    flex-direction: column;
    gap: 7px;
    padding: 15px 20px;
    font-weight: bold;
    font-size: 23px;
    text-align: center;
    border: 1px solid rgb(145 128 128);
    border-radius: 15px;
}

.input {
    padding: 5px 15px;
    color: white;
    font-size: 13px;
    background-color: #323131;
    border: 1px solid rgb(145 128 128);
    border-radius: 8px;
}
