* {
  box-sizing: border-box;
}

#root {
  max-width: 600px;
  margin: 0 auto;
  padding: 30px;
}

@font-face {
  font-weight: normal;
  font-family: 'Suisse';
  src: url("./fonts/SuisseIntl-Book.woff");
}

@font-face {
  font-weight: bold;
  font-family: 'Suisse';
  src: url("./fonts/SuisseIntl-Bold.woff");
}

body {
  min-height: 100vh;
  margin: 0;
  overflow-y: scroll;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Suisse', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

code {
  font-family: "source-code-pro", "Menlo", "Monaco", "Consolas", 'Courier New',
    monospace;
}

h1, h2, h3 {
  margin: 0;
  font-weight: bold;
}

div, a {
  color: inherit;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;

  @supports (user-select){
    user-select: none;
  }
}

p {
  margin: 0;
}


button {
  color: inherit;
  background-color: inherit;
}


ul,
li {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}
